
.footer {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    width: 100%;
    font-size: 0.8em;
    display: block;
    color: #888;
    line-height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .logo-dark {
    width: 50px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.footer .logo-shield {
    width: 21px !important;
    margin-right: 3px;
    margin-left: 0px !important;

}